* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", serif;
  background: whitesmoke;
}

/* share code start */
.container {
  max-width: 1160px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

/* share code end */

/* Naveber start */
.Header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
.logo {
  font-size: 32px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}
.nav ul li {
  margin-left: 3rem;
  list-style: none;
}
.nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
.nav ul .Home a {
  color: orange;
}
.nav ul .About a {
  color: #01acfd;
}
.nav ul .Facilities a {
  color: #05d4df;
}
.nav ul .Admission a {
  color: #5d58ef;
}
.btn {
  padding: 0.8rem 3rem;
  border-radius: 8px;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 600;
}
.btn-color {
  background: orange;
}
marquee {
  padding: 0.5rem 0;
  border: 1px solid rgb(237, 238, 230);
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
  .button {
    display: none;
  }
  .head-line {
    margin: 0;
    text-align: center;
  }
  .logo p {
    display: none;
  }

  .menuToggle {
    position: relative;
    width: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuToggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #000000;
    transform: translateY(-12px);
    box-shadow: 0 12px #000000;
  }
  .menuToggle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #000000;
    transform: translateY(12px);
  }
  .nav-line {
    width: 100%;
    height: 1px;
    background: orange;
  }
}
/* Naveber end */

/* hero section start */
.Hero {
  justify-content: center;
  align-items: center;
}
.head-line {
  margin-right: 3rem;
}

.head-line h1 {
  font-size: 56px;
  font-weight: 700;
}
.head-line-01 {
  color: orange;
}
.head-line-02 {
  color: #01acfd;
}
.head-line p {
  margin: 1.5rem 0;
}
.btn-color-02 {
  background: black;
}

/* hero section responsive */
@media screen and (max-width: 768px) {
  .Hero {
    flex-direction: column-reverse;
    margin: 0 2rem;
  }
  .head-line {
    margin: 0;
    text-align: center;
  }
  .head-line h1 {
    font-size: 42px;
    font-weight: 700;
  }
  .hero-img img {
    width: 100%;
    height: auto;
  }
}

/* hero section end */

/* Standard Curriculum start */
.Curriculum-section {
  margin-top: 5rem;
  background-image: url(../assets/bg.png);
}
.Curriculum-head {
  justify-content: center;
  align-items: center;
}
.Curriculum-head h2 {
  font-size: 46px;
  font-weight: bold;
}
.card-box {
  margin-top: 5rem;
}
.Curriculum-card {
  padding: 2.5rem;
  margin: 1rem;
  text-align: center;
  border-radius: 1rem;
}
.card-header {
  margin: 1.5rem 0;
  font-weight: 700;
}
.card-btn {
  margin-top: 1.5rem;
  font-weight: 700;
}
.card-bg-01 {
  background: linear-gradient(to bottom, #d4f0fc 0%, #fcfeff 30%);
  border: 1px solid #def5ff;
}
.card-bg-02 {
  background: linear-gradient(to bottom, #fcf9d4 0%, #fcfeff 30%);
  border: 1px solid #fcf9d4;
}
.card-bg-03 {
  background: linear-gradient(to bottom, #edd4fc 0%, #fcfeff 30%);
  border: 1px solid #edd4fc;
}
.head-line-03 {
  color: #8403ce;
}
.icon-scrol {
  margin: 3rem;
  justify-content: center;
  align-items: center;
}
.chevron-icon {
  padding: 1rem 1.3rem;
  margin: 1rem;
  border-radius: 50%;
  background: orange;
}
.chevron-icon i {
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
}
/* Standard Curriculum responsive */

@media screen and (max-width: 768px) {
  .card-box {
    flex-direction: column;
  }
  .Curriculum-head h2 {
    font-size: 30px;
  }
  .icon-scrol {
    display: none;
  }
}

/* Standard Curriculum end */

/* Stories section start */
.Stories {
  margin-top: 5rem;
  padding: 5rem;
  background-image: url(../assets/bg.png),
    linear-gradient(to top, #fcf9d4 0%, whitesmoke 80%);
}

.header-stories {
  justify-content: center;
  align-items: center;
}
.header-stories h2 {
  font-size: 46px;
  font-weight: 700;
}
.stori-card {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.card-box-sm {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.stori-card-box {
  margin: 1rem;
  background: white;
  border-radius: 1rem;
  position: relative;
}
.stori-card-box img {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}
.sto-card-text {
  padding: 1.5rem;
}
.sto-btn {
  padding: 0.7rem 1.5rem;
  border-radius: 2rem;
  background: orange;
  border: none;
  position: absolute;
  bottom: 6.2rem;
  color: white;
}
.sto-btn-bg-01 {
  bottom: 14rem;
  background: #3cd8e8;
}
.sto-card-text h5 {
  margin: 0.8rem 0;
  font-size: 0.9rem;
  font-weight: 700;
}
.sto-card-text-big {
  padding: 2.5rem;
}
.sto-card-text-big p {
  margin: 2rem 0;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.sto-btn-bg-04 {
  background: #95b226;
}
.sto-btn-bg-03 {
  background: #5d58f0;
}

@media screen and (max-width: 768px) {
  .card-box-01 {
    display: none;
  }
  .stori-card {
    margin: 4rem 1rem;
    display: grid;
    grid-template-columns: 2fr;
  }
  .Stories {
    margin-top: 5rem;
    padding: 5rem 0;
  }
}
@media screen and (max-width: 430px) {
  .card-box-sm {
    grid-template-columns: 1fr;
  }
  .sto-card-text h5 {
    font-size: 1rem;
  }
}
/* stroies section end */

/* footer section start */
.footer {
  background: #0b0542;
  padding: 6rem 0;
}
.footer-box {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}
.footer-card-01 {
  margin: 0 5rem 0 0;
  justify-content: center;
  align-items: center;
}
.foot-logo {
  align-items: center;
  margin-bottom: 2rem;
}
.foot-logo h3 {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 1rem;
}
.footer-card-01 p {
  color: white;
}
.foot-nav {
  list-style: none;
}
.foot-nav h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}
.foot-nav li {
  margin: 0.8rem 0;
}
.foot-nav li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.foot-icon h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.foot-icon img {
  margin-right: 0.8rem;
}
@media screen and (max-width: 768px) {
  .footer-box {
    grid-template-columns: 1fr;
    margin-left: 2rem;
  }
  .foot-icon {
    margin-top: 2rem;
  }
  .footer-card-01 {
    margin-bottom: 2rem;
  }
}
/* footer section end */
